
{{#each this}}
<li class="gallery-item">
    <div class="gallery-card">
        <img src="https://image.tmdb.org/t/p/original{{poster_path}}" onerror="this.src='https://tech.informator.ua/wp-content/uploads/2019/10/kino-1.jpg';" alt="{{title}}" class="gallery-image" data-id={{id}}>

        <div class="trailer-space">
            <button class="trailer">
                <div class="trailer-div" data-id="{{id}}"></div>
            </button>
        </div>
        <h2 class="card-title" data-id="{{id}}">{{title}}</h2>
        <div class="card-content">
            <ul class="card-movie_genres">
                {{#each genres}}
                     <li>{{name}}</li>
                 {{/each}}
            </ul>
             <p>| {{year}}</p>
            <span class="card-movie_rating">{{vote_average}}</span>
        </div>
    </div>
</li>
{{/each}}

{{!-- onerror="this.src='images/picture-on-movie1.jpg';" --}}



